<section id="resume">

  <div class="row education">

    <div class="three columns header-col">
      <h1><span><%= t('education') %></span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>Universidade para o Desenvolvimento do Estado e da Região do Pantanal</h3>
          <p class="info">
          Especialização em Engenharia de Software com Orientação a Objetos
          <span>&bull;</span> <em class="date">Concluído em 2009</em></p>
        </div>

      </div> <!-- item end -->

      <div class="row item">

        <div class="twelve columns">

          <h3>Universidade para o Desenvolvimento do Estado e da Região do Pantanal</h3>
          <p class="info">
          Graduação em Tecnologia em Processamento de Dados
          <span>&bull;</span> <em class="date">Concluído em 2005</em></p>
        </div>

      </div> <!-- item end -->

    </div> <!-- main-col end -->

  </div> <!-- End Education -->


  <div class="row work">

    <div class="three columns header-col">
      <h1><span><%= t('work') %></span></h1>
    </div>

    <div class="nine columns main-col">

      <div class="row item">

        <div class="twelve columns">

          <h3>Telelistas.net</h3>
          <p>
          O TeleListas.net é o maior portal de busca por empresas, serviços, produtos e pessoas da internet brasileira.
          </p>
          <p class="info">Analista Desenvolvedor<span>&bull;</span> <em class="date">Abril 2016 - Atualmente</em></p>
          <p>
          Atuando como desenvolvedor de software com a linguagem Ruby, framework Ruby on Rails, banco de dados MariaDB e Elasticsearch.
          </p>

        </div>

      </div> <!-- item end -->

      <div class="row item">
        <div class="twelve columns">
          <h3>Agence Consultoria Web | Desenvolvimento, Marketing Digital, Consultoria e Outsourcing</h3>
          <p>
          Oferece soluções de negócios com base tecnológica : outsourcing, serviços de aplicação, desenvolvimento de sistemas web e suporte de aplicações.
          </p>
          <p class="info">Analista Desenvolvedor<span>&bull;</span> <em class="date">2016 - 2016</em></p>
          <p>
          Atuando como desenvolvedor de software com a linguagem Java, Spring Framework e MS SQL Server como Banco de Dados.
          </p>
        </div>
      </div> <!-- item end -->
      <div class="row item">
        <div class="twelve columns">

          <h3>Prixx Tecnologia</h3>
          <p>
          Empresa com o objetivo de atender as necessidades constantes e iminentes de modernização das Unidades Estatais.
          </p>
          <p class="info">Analista Desenvolvedor / Gerente de Projetos<span>&bull;</span> <em class="date">2013 - 2016</em></p>
          <p>
          <ul>
            <li>
              Desenvolvimento de API’s e APP’s para atender demandas de clientes de governos estaduais, utilizando Ruby/Ruby on Rails. Utilizando   testes em tudo que foi desenvolvido, também  workers e integração contínua.
            </li>
            <li>
              Responsável por gerenciar vários sistemas interligados, tendo contato com a equipe de desenvolvimento e cliente. Planejamentos feitos utilizando Scrum e/ou Kanban.
            </li>
          </ul>
          </p>
        </div>
      </div> <!-- item end -->
      <div class="row item">
        <div class="twelve columns">
          <h3>Agence Consultoria Web | Desenvolvimento, Marketing Digital, Consultoria e Outsourcing</h3>
          <p>
          Oferece soluções de negócios com base tecnológica : outsourcing, serviços de aplicação, desenvolvimento de sistemas web e suporte de aplicações.
          </p>
          <p class="info">Analista Desenvolvedor<span>&bull;</span> <em class="date">2009 - 2013</em></p>
          <p>
          <ul>
            <li>
              Desenvolvimento web utilizando Java, EJB, TDD e DDD. Projeto para uma grande multinacional do ramo automobilístico.
            </li>
            <li>
              Desenvolvimento web Java, Spring Framework e MS SQL Server como Banco de Dados.
            </li>
            <li>
              Desenvolvimento mobile para iOS, utilizando o nativo Objective-C (na época) para um protótipo de
              mapeamento e localização de produtos dentro de um supermercado.
            </li>
            <li>
              Desenvolvimento Ruby On Rails.
            </li>
          </ul>
          </p>
        </div>
      </div> <!-- item end -->
    </div> <!-- main-col end -->

  </div> <!-- End Work -->

  <div class="row skill">

    <div class="three columns header-col">
      <h1><span>Skills</span></h1>
    </div>

    <div class="nine columns main-col">
      <div class="bars">
        <ul class="skills">
          <li><span class="bar-expand ruby"></span><em>Ruby</em></li>
          <li><span class="bar-expand ruby_on_rails"></span><em>Ruby On Rails</em></li>
          <li><span class="bar-expand java"></span><em>Java</em></li>
          <li><span class="bar-expand javascript"></span><em>Javascript</em></li>
          <li><span class="bar-expand mysql"></span><em>MySQL</em></li>
          <li><span class="bar-expand postgres"></span><em>Postgres</em></li>
          <li><span class="bar-expand elasticsearch"></span><em>Elasticsearch</em></li>
          <li><span class="bar-expand css"></span><em>CSS</em></li>
          <li><span class="bar-expand html5"></span><em>HTML5</em></li>
          <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
        </ul>

      </div><!-- end skill-bars -->

    </div> <!-- main-col end -->

  </div> <!-- End skills -->
</section>
